<ng-container *ngIf="showModal">
    <div class="overlay" (click)="onClose()"></div>
    <div class="modal">
        <div class="modal-header">
            <fa-icon
                [icon]="icons.faClose"
                class="close-icon"
                (click)="onClose()"
            >
            </fa-icon>
        </div>
        <div class="modal-body">
            <ng-content></ng-content>
        </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="button button-primary button-submit"
            >
                <fa-icon
                    [icon]="icons.faSave"
                    class="close-icon"
                    (click)="onSave()"
                >
                </fa-icon>
                Salvar
            </button>
            <button
                type="button"
                class="button button-danger button-cancel"
                (click)="onClose()"
            >
                <fa-icon
                    [icon]="icons.faCancel"
                    class="close-icon"
                >
                </fa-icon>
                Cancelar
            </button>
        </div>
    </div>
</ng-container>